body {
    color: white;
    background-color: black;
}

.title {
    text-align: center;
}

.explore {
    color: black;
    background-color: rgb(255, 204, 0);
    text-align: center;

    border: 2px solid rgb(255, 204, 0);
    border-radius: 50px;

    display: block;
    width: fit-content;
    margin: auto;
    padding: 0px 10px;
    text-decoration: none;
}

.explore:hover {
    background-color: rgb(230, 184, 0);
    cursor: pointer;
}

.trailer {
    color: rgb(255, 204, 0);
}

.max {
    color: rgb(255, 204, 0);
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 20px;
    justify-content: center;
    
    width: 100px;
    margin: 0 auto;
    padding: 20px;
}

.mini_border {
    border: 2px solid transparent;

    border-radius: 10px;
    padding: 20px;

    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.double_deck {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(red-semi-truck.jpg);
    background-size: cover;
    background-position: center;
}

.step_deck {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(step-deck-trailer.jpg);
    background-size: cover;
    background-position: center;
}

.goose_neck {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(gooseneck-trailer.webp);
    background-size: cover;
    background-position: center;
}

.flatbed {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(flatbed-truck.jpg);
    background-size: cover;
    background-position: center;
}